h1 {
  text-align:center;
}
h2 {
  text-align:center;
  font-style:italic;
}
figcaption {
  font-family:arial;
}
img {
  /*padding:10px;
  margin:50px;*/
  display:inline-block;
  vertical:middle;
  width:300px;
  hight:300px;
}
ul {
}


footer {
   text-align:center;
}